<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="utf-8" />
</head>

<body>
<div layout:fragment="content">
    <div class="container main-content">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger"><h3 th:text="${error}">Status</h3></li>
            <li class="list-group-item" th:text="'Status code: '+ ${status}"></li>
        </ul>
        <p><a href="/" th:href="@{/}">Back to home page</a></p>
    </div>
</div>

</body>
</html>